!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Your Page Title
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %link{ :href => "/stylesheets/my_layout.css", :rel => "stylesheet", :type => "text/css" }
    /
      [if lte IE 7]>
      <link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
      <![endif]
  %body
    .page_margins
      #border-top
        #edge-tl
        #edge-tr
      .page
        #topnav
          /
            start: skip link navigation
          %a.skip{ :href => "#navigation", :title => "skip link" }
            Skip to the navigation
          %span.hideme
            \.
          %a.skip{ :href => "#content", :title => "skip link" }
            Skip to the content
          %span.hideme
            \.
          /
            end: skip link navigation
          %a{ :href => "#" }
            Login
          |
          %a{ :href => "#" }
            Contact
          |
          %a{ :href => "#" }
            Imprint
        #header
          %h1
            H1 Heading
        #main
          = render_flash
          = yield
        /
          begin: #footer
      #border-bottom
        #edge-bl
        #edge-br
